/.idea/

/.env
/.env.local
/.env.local.php
/.env.*.local
/.allow-drop-db

/node_modules/
/vendor/
/var/
/docker/data/

/test.php

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
